In [1]:
import pandas as pd 
import os 


path = "/Users/winson/Developer/scrape_bank"
file_ext = "_Credit.csv"

banks = ['BOA', 'CO', 'Chase', 'Citi', 'Discover']

In [2]:
df_credit = pd.DataFrame(columns=['Transaction Date', 'Description', 'Amount', 'Category', 'Bank'])

# display(df_credit)
for f in banks: 
	data = pd.read_csv(os.path.join(path, f+file_ext))
	# display(data)
	temp_df = pd.DataFrame(columns=['Transaction Date', 'Description', 'Amount', 'Category', 'Bank'])
	if 'Transaction Date' in data.columns: 
		temp_df['Transaction Date'] = data['Transaction Date'] 
	elif 'Date' in data.columns:
		temp_df['Transaction Date'] = data['Date'] 
	elif 'Trans. Date' in data.columns: 
		temp_df['Transaction Date'] = data['Trans. Date']
	else: 
		temp_df['Transaction Date'] = data['Posted Date']
	

	temp_df['Description'] = data['Description'] if 'Description' in data.columns else data['Payee']
	temp_df['Amount'] = data['Amount'] if 'Amount' in data.columns else data['Debit'] 
	if 'Category' in data.columns:
		temp_df['Category'] = data['Category']
	elif 'Type' in data.columns:
		temp_df['Category'] = data['Type'] 
	else: 
		temp_df['Category'] = None

	temp_df['Bank'] = f

	


	# display(temp_df)
	df_credit = pd.concat([df_credit, temp_df], ignore_index=True)


df_credit.sort_values(by=['Transaction Date'], inplace=True, ignore_index=True, ascending=False)

# df_credit['Date'] = pd.to_datetime(df_credit['Date'], format='%m/%d/%Y')
# # df_credit['Post Date'] = pd.to_datetime(df_credit['Post Date'], format='%m/%d/%Y')

# # df_credit.drop(columns=['Memo'], inplace=True)
df_credit['Amount'] = df_credit['Amount'].astype(float).abs()
# # df_credit.reindex(index=df_credit.index[::-1])
display(df_credit)
df_credit.to_csv('Credit.csv')
# df_credit

,Transaction Date,Description,Amount,Category,Bank
0,2024-08-28,COSTCO GAS #0778 FREMONT CA,32.24,None,Citi
1,2024-08-27,WENDY'S 0020 FREMONT CA,8.82,None,Citi
2,2024-08-25,SIZZLING LUNCH SAN JOSE CA,18.05,None,Citi
3,2024-08-24,CHIPOTLE 2045 SAN JOSE CA,11.59,None,Citi
4,2024-08-23,TST*BLAST AND BREW - SAN San Jose CA,92.66,None,Citi
...,...,...,...,...,...
365,2022-08-31,SQ *NICK THE GREEK SANTA,13.66,Food & Drink,Chase
366,2022-08-30,LEMONADE I* LEMONADE I,62.00,Bills & Utilities,Chase
367,2022-08-29,Payment Thank You - Web,24.60,NaN,Chase
368,2022-08-29,PIZZA MY HEART,30.04,Food & Drink,Chase
369,2022-08-27,TST* BEACH HUT - SANTA CR,20.21,Food & Drink,Chase

In [3]:
# df_credit.drop(index=)
df = df_credit
df = df[df['Description'].str.lower().str.contains('payment') == False]
df = df[df['Description'].str.lower().str.contains('pymt') == False]
display(df)

,Transaction Date,Description,Amount,Category,Bank
0,2024-08-28,COSTCO GAS #0778 FREMONT CA,32.24,None,Citi
1,2024-08-27,WENDY'S 0020 FREMONT CA,8.82,None,Citi
2,2024-08-25,SIZZLING LUNCH SAN JOSE CA,18.05,None,Citi
3,2024-08-24,CHIPOTLE 2045 SAN JOSE CA,11.59,None,Citi
4,2024-08-23,TST*BLAST AND BREW - SAN San Jose CA,92.66,None,Citi
...,...,...,...,...,...
364,2022-09-16,MINT MOBILE,264.62,Bills & Utilities,Chase
365,2022-08-31,SQ *NICK THE GREEK SANTA,13.66,Food & Drink,Chase
366,2022-08-30,LEMONADE I* LEMONADE I,62.00,Bills & Utilities,Chase
368,2022-08-29,PIZZA MY HEART,30.04,Food & Drink,Chase
369,2022-08-27,TST* BEACH HUT - SANTA CR,20.21,Food & Drink,Chase

In [87]:
import plotly.express as px  
import plotly.graph_objects as go
from plotly.subplots import make_subplots

def filterByRange(df, start_date, end_date): 	
	filtered_df = df.loc[(df['Transaction Date'] >= start_date) & (df['Transaction Date'] <= end_date)]
	return filtered_df


# def plotHist(df): 
# 	fig = px.histogram(df, x='Date', y='Running Bal.')
# 	fig.update_layout(xaxis=dict(type='category')) 
# 	fig.show() 

# def plotBar(df):

# 	groups = df.groupby('Date')
# 	x = df['Date'].unique() 
# 	y = [groups.get_group(k)['Running Bal.'].iloc[-1] for k, v in groups] 
# 	# for k, v in groups: 
# 	# 	# display(groups.get_group(k))
# 	# 	y.append(groups.get_group(k)['Running Bal.'].iloc[-1])

# 	fig = px.bar( x=x, y=y)
# 	fig.update_layout(xaxis=dict(title='Date', type='category'), yaxis=dict(title='Runnig Bal.')) 
# 	fig.show() 

def plotLine(df): 
	groups = df.groupby('Date')
	x = df['Date'].unique() 
	y = [groups.get_group(k)['Running Bal.'].iloc[-1] for k, v in groups] 	
	
	# fig = px.line(x=x, y=y, render_mode='lines+markers')
	fig = go.Figure()
	fig.add_trace(go.Scatter(x=x, y=y,
                    mode='lines+markers',
	))
	fig.update_layout(xaxis=dict(title='Date'), yaxis=dict(title='Runnig Bal.')) 
	fig.show()


def plotPie(df):
	
	s = df.groupby('Category')['Amount'].sum() 
	fig = px.pie(df)
	fig.show()



categories = { 
	'Amazon': 'amazon'
}

def filter(row):
	for k, v in categories.items():  
		print(row)
		if row['Category'] == None: 
			if any(type in row['Description'].lower() for type in v):
				return k
		else: 
			
df['Category'] = df.apply(filter, axis=1)
df

Transaction Date                     2024-08-28
Description         COSTCO GAS #0778 FREMONT CA
Amount                                    32.24
Category                                 Amazon
Bank                                       Citi
Name: 0, dtype: object
Transaction Date                 2024-08-27
Description         WENDY'S 0020 FREMONT CA
Amount                                 8.82
Category                             Amazon
Bank                                   Citi
Name: 1, dtype: object
Transaction Date                    2024-08-25
Description         SIZZLING LUNCH SAN JOSE CA
Amount                                   18.05
Category                                Amazon
Bank                                      Citi
Name: 2, dtype: object
Transaction Date                   2024-08-24
Description         CHIPOTLE 2045 SAN JOSE CA
Amount                                  11.59
Category                               Amazon
Bank                                     Citi
Name: 3, dtype: object
Transaction Date                              2024-08-23
Description         TST*BLAST AND BREW - SAN San Jose CA
Amount                                             92.66
Category                                          Amazon
Bank                                                Citi
Name: 4, dtype: object
Transaction Date                                  2024-08-22
Description         AUTOPAY 240716105610556RAUTOPAY AUTO-PMT
Amount                                                   NaN
Category                                              Amazon
Bank                                                    Citi
Name: 6, dtype: object
Transaction Date                  2024-08-22
Description         CHIPOTLE 3005 FREMONT CA
Amount                                 12.95
Category                              Amazon
Bank                                    Citi
Name: 7, dtype: object
Transaction Date                      2024-08-18
Description         COSTCO WHSE #0778 FREMONT CA
Amount                                     29.97
Category                                  Amazon
Bank                                        Citi
Name: 8, dtype: object
Transaction Date                     2024-08-18
Description         COSTCO GAS #0778 FREMONT CA
Amount                                    24.75
Category                                 Amazon
Bank                                       Citi
Name: 9, dtype: object
Transaction Date                      2024-08-18
Description         COSTCO WHSE #0778 FREMONT CA
Amount                                      6.05
Category                                  Amazon
Bank                                        Citi
Name: 10, dtype: object
Transaction Date                  2024-08-16
Description         GEN - FREMONT FREMONT CA
Amount                                  37.1
Category                              Amazon
Bank                                    Citi
Name: 11, dtype: object
Transaction Date                      2024-08-16
Description         COSTCO WHSE #0778 FREMONT CA
Amount                                    159.98
Category                                  Amazon
Bank                                        Citi
Name: 12, dtype: object
Transaction Date                2024-08-15
Description         PHO HA NOI MILPITAS CA
Amount                               56.13
Category                            Amazon
Bank                                  Citi
Name: 13, dtype: object
Transaction Date                  2024-08-14
Description         CHIPOTLE 3005 FREMONT CA
Amount                                 12.24
Category                              Amazon
Bank                                    Citi
Name: 14, dtype: object
Transaction Date                         2024-08-13
Description         PANDA EXPRESS #1936 SAN JOSE CA
Amount                                        13.13
Category                                     Amazon
Bank                                           Citi
Name: 15, dtype: object
Transaction Date                                           2024-08-13
Description         H MART SAN JOSE LLC SAN JOSE CAAPPLE PAY ENDIN...
Amount                                                          15.29
Category                                                         None
Bank                                                         Discover
Name: 16, dtype: object
Transaction Date                             2024-08-11
Description         PY *THE HALAL GUYS FREMONFREMONT CA
Amount                                            18.73
Category                                         Amazon
Bank                                               Citi
Name: 17, dtype: object
Transaction Date                      2024-08-11
Description         COSTCO WHSE #0778 FREMONT CA
Amount                                     80.64
Category                                  Amazon
Bank                                        Citi
Name: 18, dtype: object
Transaction Date                           2024-08-10
Description         COSTCO WHSE #0143 MOUNTAIN VIEWCA
Amount                                           5.99
Category                                       Amazon
Bank                                             Citi
Name: 19, dtype: object
Transaction Date                     2024-08-08
Description         COSTCO GAS #0778 FREMONT CA
Amount                                    32.82
Category                                 Amazon
Bank                                       Citi
Name: 21, dtype: object
Transaction Date                      2024-08-08
Description         COSTCO WHSE #0778 FREMONT CA
Amount                                      8.25
Category                                  Amazon
Bank                                        Citi
Name: 22, dtype: object
Transaction Date                      2024-08-08
Description         COSTCO WHSE #0778 FREMONT CA
Amount                                      7.99
Category                                  Amazon
Bank                                        Citi
Name: 23, dtype: object
Transaction Date                   2024-08-06
Description         EPICUREAN GROUP AT XILINX
Amount                                  10.94
Category                                 None
Bank                                       CO
Name: 24, dtype: object
Transaction Date                                           2024-08-06
Description         H MART DE ANZA LLC SAN JOSE CAAPPLE PAY ENDING...
Amount                                                           5.17
Category                                                         None
Bank                                                         Discover
Name: 25, dtype: object
Transaction Date                                           2024-08-03
Description         TRADER JOE S #212 SAN JOSE CAAPPLE PAY ENDING ...
Amount                                                          21.93
Category                                                         None
Bank                                                         Discover
Name: 26, dtype: object
Transaction Date                          2024-07-31
Description         PANDA EXPRESS #2957 P olo.com CA
Amount                                           9.7
Category                                      Amazon
Bank                                            Citi
Name: 27, dtype: object
Transaction Date         2024-07-31
Description         McDonalds 13001
Amount                         5.02
Category                       None
Bank                             CO
Name: 28, dtype: object
Transaction Date       2024-07-30
Description         POTATO CORNER
Amount                       7.75
Category                     None
Bank                           CO
Name: 29, dtype: object
Transaction Date                      2024-07-30
Description         COSTCO GAS #1004 SAN JOSE CA
Amount                                     29.66
Category                                  Amazon
Bank                                        Citi
Name: 30, dtype: object
Transaction Date                                           2024-07-28
Description         MITSUWA MRKTPLACE SJ SAN JOSE CAAPPLE PAY ENDI...
Amount                                                           2.23
Category                                                         None
Bank                                                         Discover
Name: 31, dtype: object
Transaction Date              2024-07-27
Description         OBAITORI MILPITAS CA
Amount                             100.0
Category                          Amazon
Bank                                Citi
Name: 32, dtype: object
Transaction Date         2024-07-27
Description         TEA COUNTRY INC
Amount                         4.75
Category                       None
Bank                             CO
Name: 33, dtype: object
Transaction Date                 2024-07-27
Description         TOFU PLUS. CUPERTINO CA
Amount                                22.73
Category                             Amazon
Bank                                   Citi
Name: 34, dtype: object
Transaction Date                2024-07-26
Description         SQ *ZERO& TEA AND BOBA
Amount                               16.81
Category                              None
Bank                                    CO
Name: 35, dtype: object
Transaction Date                   2024-07-25
Description         TST* PARIS BAGUETTE - SAN
Amount                                   7.98
Category                                 None
Bank                                       CO
Name: 37, dtype: object
Transaction Date          2024-07-24
Description         SQ *PHILZ COFFEE
Amount                           6.6
Category                        None
Bank                              CO
Name: 39, dtype: object
Transaction Date                      2024-07-22
Description         COSTCO GAS #1004 SAN JOSE CA
Amount                                      28.5
Category                                  Amazon
Bank                                        Citi
Name: 42, dtype: object
Transaction Date                                  2024-07-22
Description         AUTOPAY 240716105610556RAUTOPAY AUTO-PMT
Amount                                                   NaN
Category                                              Amazon
Bank                                                    Citi
Name: 43, dtype: object
Transaction Date                2024-07-21
Description         AMAZON MKTPL*RJ3F490C2
Amount                               68.21
Category                              None
Bank                                 Chase
Name: 44, dtype: object
Transaction Date                        2024-07-20
Description         COSTCO WHSE #0423 SUNNYVALE CA
Amount                                       11.99
Category                                    Amazon
Bank                                          Citi
Name: 45, dtype: object
Transaction Date               2024-07-20
Description         TOMISUSHI SAN JOSE CA
Amount                              88.43
Category                           Amazon
Bank                                 Citi
Name: 46, dtype: object
Transaction Date    2024-07-20
Description          SMART TEA
Amount                   14.33
Category                  None
Bank                        CO
Name: 47, dtype: object
Transaction Date                2024-07-20
Description         AMAZON MKTPL*RJ4VO5J80
Amount                                3.71
Category                              None
Bank                                 Chase
Name: 48, dtype: object
Transaction Date            2024-07-19
Description         WHOLEFDS STZ 10329
Amount                            3.09
Category                          None
Bank                                CO
Name: 49, dtype: object
Transaction Date           2024-07-18
Description         MCDONALD'S F17454
Amount                           8.94
Category                         None
Bank                               CO
Name: 50, dtype: object
Transaction Date                                2024-07-15
Description         AMAZON MKTPL*RY7175R02 Amzn.com/billWA
Amount                                                 4.4
Category                                            Amazon
Bank                                                   BOA
Name: 51, dtype: object
Transaction Date                      2024-07-15
Description         COSTCO WHSE #0778 FREMONT CA
Amount                                     40.98
Category                                  Amazon
Bank                                        Citi
Name: 52, dtype: object
Transaction Date                     2024-07-15
Description         COSTCO GAS #0778 FREMONT CA
Amount                                     32.0
Category                                 Amazon
Bank                                       Citi
Name: 53, dtype: object
Transaction Date                      2024-07-15
Description         COSTCO WHSE #0778 FREMONT CA
Amount                                      6.05
Category                                  Amazon
Bank                                        Citi
Name: 54, dtype: object
Transaction Date             2024-07-13
Description         CVS/PHARMACY #09257
Amount                            33.52
Category                           None
Bank                                 CO
Name: 55, dtype: object
Transaction Date                       2024-07-13
Description         COSTCO GAS #0423 SUNNYVALE CA
Amount                                       35.0
Category                                   Amazon
Bank                                         Citi
Name: 56, dtype: object
Transaction Date                                           2024-07-13
Description         LION FOOD CENTER SAN JOSE CAAPPLE PAY ENDING I...
Amount                                                          37.53
Category                                                         None
Bank                                                         Discover
Name: 57, dtype: object
Transaction Date              2024-07-12
Description         CLOVER BAKERY & CAFE
Amount                             17.25
Category                            None
Bank                                  CO
Name: 58, dtype: object
Transaction Date                                2024-07-12
Description         AMAZON MKTPL*RY3XN00G1 Amzn.com/billWA
Amount                                                49.6
Category                                            Amazon
Bank                                                   BOA
Name: 59, dtype: object
Transaction Date         2024-07-12
Description         MCDONALD'S F778
Amount                         7.79
Category                       None
Bank                             CO
Name: 60, dtype: object
Transaction Date                         2024-07-12
Description         AMAZON.COM*RY80S30K1 SEATTLE WA
Amount                                        82.67
Category                                     Amazon
Bank                                            BOA
Name: 61, dtype: object
Transaction Date       2024-07-12
Description         CHIPOTLE 1716
Amount                      11.91
Category                     None
Bank                           CO
Name: 62, dtype: object
Transaction Date         2024-07-10
Description         MCDONALD'S F380
Amount                         6.59
Category                       None
Bank                             CO
Name: 63, dtype: object
Transaction Date                                2024-07-10
Description         AMAZON MKTPL*RY13G1F51 Amzn.com/billWA
Amount                                                49.6
Category                                            Amazon
Bank                                                   BOA
Name: 64, dtype: object
Transaction Date                      2024-07-07
Description         COSTCO WHSE #0778 FREMONT CA
Amount                                    101.91
Category                                  Amazon
Bank                                        Citi
Name: 66, dtype: object
Transaction Date              2024-07-07
Description         AMAZON MKTPLACE PMTS
Amount                             19.83
Category                            None
Bank                               Chase
Name: 67, dtype: object
Transaction Date                      2024-07-07
Description         COSTCO WHSE #0778 FREMONT CA
Amount                                      3.85
Category                                  Amazon
Bank                                        Citi
Name: 68, dtype: object
Transaction Date                                 2024-07-07
Description         TST* DIN TAI FUNG - VALLESANTA CLARA CA
Amount                                                75.81
Category                                             Amazon
Bank                                                   Citi
Name: 69, dtype: object
Transaction Date                     2024-07-07
Description         COSTCO GAS #0778 FREMONT CA
Amount                                     28.9
Category                                 Amazon
Bank                                       Citi
Name: 70, dtype: object
Transaction Date           2024-07-06
Description         ATI9129-070659151
Amount                          27.38
Category                         None
Bank                            Chase
Name: 71, dtype: object
Transaction Date                2024-07-05
Description         STARBUCKS 800-782-7282
Amount                                10.0
Category                              None
Bank                                    CO
Name: 72, dtype: object
Transaction Date                2024-07-05
Description         AMAZON MKTPL*R74182VS2
Amount                                24.2
Category                              None
Bank                                 Chase
Name: 73, dtype: object
Transaction Date       2024-07-05
Description         CHIPOTLE 1416
Amount                      12.14
Category                     None
Bank                           CO
Name: 74, dtype: object
Transaction Date                   2024-07-05
Description         TST* PARIS BAGUETTE - MIS
Amount                                  19.07
Category                                 None
Bank                                       CO
Name: 75, dtype: object
Transaction Date                                           2024-07-04
Description         TRADER JOE S #077 FREMONT CAAPPLE PAY ENDING I...
Amount                                                           6.98
Category                                                         None
Bank                                                         Discover
Name: 76, dtype: object
Transaction Date                                           2024-07-04
Description         TARGET 00014225091 FREMONT CAAPPLE PAY ENDING ...
Amount                                                           1.44
Category                                                         None
Bank                                                         Discover
Name: 77, dtype: object
Transaction Date                   2024-07-03
Description         SQ *CAFE #65128 WESTFIELD
Amount                                   3.69
Category                                 None
Bank                                       CO
Name: 78, dtype: object
Transaction Date                                           2024-07-03
Description         99 RANCH #1701 FREMONT CAAPPLE PAY ENDING IN 0143
Amount                                                          33.93
Category                                                         None
Bank                                                         Discover
Name: 79, dtype: object
Transaction Date                2024-07-03
Description         AMAZON MKTPL*R78NZ2NX2
Amount                               59.83
Category                              None
Bank                                 Chase
Name: 80, dtype: object
Transaction Date     2024-07-02
Description         UBER   EATS
Amount                    10.72
Category                   None
Bank                         CO
Name: 81, dtype: object

,Transaction Date,Description,Amount,Category,Bank
0,2024-08-28,COSTCO GAS #0778 FREMONT CA,32.24,None,Citi
1,2024-08-27,WENDY'S 0020 FREMONT CA,8.82,None,Citi
2,2024-08-25,SIZZLING LUNCH SAN JOSE CA,18.05,None,Citi
3,2024-08-24,CHIPOTLE 2045 SAN JOSE CA,11.59,None,Citi
4,2024-08-23,TST*BLAST AND BREW - SAN San Jose CA,92.66,None,Citi
...,...,...,...,...,...
364,2022-09-16,MINT MOBILE,264.62,Amazon,Chase
365,2022-08-31,SQ *NICK THE GREEK SANTA,13.66,Amazon,Chase
366,2022-08-30,LEMONADE I* LEMONADE I,62.00,Amazon,Chase
368,2022-08-29,PIZZA MY HEART,30.04,Amazon,Chase
369,2022-08-27,TST* BEACH HUT - SANTA CR,20.21,Amazon,Chase

In [81]:
df['Category'].unique()

array([None, 'Amazon'], dtype=object)

In [56]:
start_date = '2024-07-01'
end_date = '2024-07-31'
monthly_df = filterByRange(df, start_date, end_date)
display(monthly_df) 
fig = px.pie(monthly_df, names='Category', values='Amount')
fig.show()

,Transaction Date,Description,Amount,Category,Bank
27,2024-07-31,PANDA EXPRESS #2957 P olo.com CA,9.70,None,Citi
28,2024-07-31,McDonalds 13001,5.02,Dining,CO
29,2024-07-30,POTATO CORNER,7.75,Dining,CO
30,2024-07-30,COSTCO GAS #1004 SAN JOSE CA,29.66,None,Citi
31,2024-07-28,MITSUWA MRKTPLACE SJ SAN JOSE CAAPPLE PAY ENDI...,2.23,Supermarkets,Discover
32,2024-07-27,OBAITORI MILPITAS CA,100.00,None,Citi
33,2024-07-27,TEA COUNTRY INC,4.75,Dining,CO
34,2024-07-27,TOFU PLUS. CUPERTINO CA,22.73,None,Citi
35,2024-07-26,SQ *ZERO& TEA AND BOBA,16.81,Dining,CO
37,2024-07-25,TST* PARIS BAGUETTE - SAN,7.98,Dining,CO
39,2024-07-24,SQ *PHILZ COFFEE,6.60,Dining,CO
42,2024-07-22,COSTCO GAS #1004 SAN JOSE CA,28.50,None,Citi
43,2024-07-22,AUTOPAY 240716105610556RAUTOPAY AUTO-PMT,NaN,None,Citi
44,2024-07-21,AMAZON MKTPL*RJ3F490C2,68.21,Shopping,Chase
45,2024-07-20,COSTCO WHSE #0423 SUNNYVALE CA,11.99,None,Citi
46,2024-07-20,TOMISUSHI SAN JOSE CA,88.43,None,Citi
47,2024-07-20,SMART TEA,14.33,Dining,CO
48,2024-07-20,AMAZON MKTPL*RJ4VO5J80,3.71,Shopping,Chase
49,2024-07-19,WHOLEFDS STZ 10329,3.09,Merchandise,CO
50,2024-07-18,MCDONALD'S F17454,8.94,Dining,CO
51,2024-07-15,AMAZON MKTPL*RY7175R02 Amzn.com/billWA,4.40,None,BOA
52,2024-07-15,COSTCO WHSE #0778 FREMONT CA,40.98,None,Citi
53,2024-07-15,COSTCO GAS #0778 FREMONT CA,32.00,None,Citi
54,2024-07-15,COSTCO WHSE #0778 FREMONT CA,6.05,None,Citi
55,2024-07-13,CVS/PHARMACY #09257,33.52,Health Care,CO
56,2024-07-13,COSTCO GAS #0423 SUNNYVALE CA,35.00,None,Citi
57,2024-07-13,LION FOOD CENTER SAN JOSE CAAPPLE PAY ENDING I...,37.53,Supermarkets,Discover
58,2024-07-12,CLOVER BAKERY & CAFE,17.25,Dining,CO
59,2024-07-12,AMAZON MKTPL*RY3XN00G1 Amzn.com/billWA,49.60,None,BOA
60,2024-07-12,MCDONALD'S F778,7.79,Dining,CO
61,2024-07-12,AMAZON.COM*RY80S30K1 SEATTLE WA,82.67,None,BOA
62,2024-07-12,CHIPOTLE 1716,11.91,Dining,CO
63,2024-07-10,MCDONALD'S F380,6.59,Dining,CO
64,2024-07-10,AMAZON MKTPL*RY13G1F51 Amzn.com/billWA,49.60,None,BOA
66,2024-07-07,COSTCO WHSE #0778 FREMONT CA,101.91,None,Citi
67,2024-07-07,AMAZON MKTPLACE PMTS,19.83,Shopping,Chase
68,2024-07-07,COSTCO WHSE #0778 FREMONT CA,3.85,None,Citi
69,2024-07-07,TST* DIN TAI FUNG - VALLESANTA CLARA CA,75.81,None,Citi
70,2024-07-07,COSTCO GAS #0778 FREMONT CA,28.90,None,Citi
71,2024-07-06,ATI9129-070659151,27.38,Entertainment,Chase
72,2024-07-05,STARBUCKS 800-782-7282,10.00,Dining,CO
73,2024-07-05,AMAZON MKTPL*R74182VS2,24.20,Shopping,Chase
74,2024-07-05,CHIPOTLE 1416,12.14,Dining,CO
75,2024-07-05,TST* PARIS BAGUETTE - MIS,19.07,Dining,CO
76,2024-07-04,TRADER JOE S #077 FREMONT CAAPPLE PAY ENDING I...,6.98,Supermarkets,Discover
77,2024-07-04,TARGET 00014225091 FREMONT CAAPPLE PAY ENDING ...,1.44,Supermarkets,Discover
78,2024-07-03,SQ *CAFE #65128 WESTFIELD,3.69,Dining,CO
79,2024-07-03,99 RANCH #1701 FREMONT CAAPPLE PAY ENDING IN 0143,33.93,Supermarkets,Discover
80,2024-07-03,AMAZON MKTPL*R78NZ2NX2,59.83,Shopping,Chase
81,2024-07-02,UBER EATS,10.72,Dining,CO
83,2024-07-01,AMAZON MKTPL*RC66X29A2,42.66,Shopping,Chase
84,2024-07-01,AMAZON MKTPL*RC8HP9U71,29.74,Shopping,Chase
85,2024-07-01,BATH AND BODY WORKS#5671 FREMONT CAAPPLE PAY E...,53.02,Merchandise,Discover